[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
pillow = "*"
python-decouple = "*"
django-cors-headers = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.12"
